[UART_INPUT_IGNORE_MODE]
# 一共存在三种模式
# KEEP_ALL  保留所有的Uart输出
# INCLUDE_UART_INPUT_LIST在该模式下UART_INPUT_LIST下的Uart输入被保留，忽略其他输入
# EXCLUDE_UART_INPUT_LIST在该模式下UART_INPUT_LIST下的Uart输入被排除
# 注意，只有最后两种模式时UART_INPUT_LIST下的会起作用
# 对于忽略的输入，驱动会直接放回负值，表示读取失败，模拟站点不在的情况
KEEP_ALL

# 输入列表
[UART_INPUT_LIST]

[OUTPUT_IGNORE_MODE]
# 一共存在四种模式
# KEEP_ALL  保留所有的Uart输出
# IGNORE_ALL:忽略所有的Uart输出
# INCLUDE_OUTPUT_LIST在该模式下OUTPUT_LIST下的Uart输出被保留，忽略除OUTPUT_LIST下的其余输出
# EXCLUDE_OUTPUT_LIST在该模式下OUTPUT_LIST下的Uart输出被排除
# 注意，只有最后两种模式时UART_OUTPUT_LIST下的会起作用
KEEP_ALL

[UART_OUTPUT_LIST]
